{% extends 'base.html' %}
{% content block %}
    <h1>Cadastro de Receita</h1>
    <form action="/receita/cadastrar" method="post">
        <label for="nome">Nome: </label>
        <input type="text" name="nome" id="nome" maxlength="100" required>

        <label for="descricao">Descricao: </label>
        <input type="text" id="descricao" name="descricao" maxlength="250" required>

        <label for="valor">Valor: </label>
        <input type="number" step="0.01" id="valor" name="valor" min="0" required>

        <button>Cadastrar</button>
    </form>

{% endblock %}